* {
    box-sizing: border-box; 
}

body {
    font-family: Helvetica, sans-serif; 
    width: 100%; 
    height: 100vh; 
    margin: 0; 
}

section {
    display: block; 
}

section.container {
    padding: 10px; 
    background-color: darkslateblue; 
}

h1, h5 {
    text-align: center; 
    color:rgb(27, 154, 128); 
}

#meme-form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.container-form {
    padding: 10px; 
    width: 75%; 
}

label {
    display: block; 
    font-size: 1rem; 
    padding-right: 10px; 
    padding-bottom: 7px; 
    color:rgb(27, 154, 128); 

}

input {
    border-radius: 5px; 
    font-size: 1rem; 
    padding: 10px; 
    width: 100%; 
    color:rgb(27, 154, 128); 
}

button.btn {
    font-size: 1rem; 
    border-radius: 5px; 
    padding: 10px; 
    background-color:rgb(27, 154, 128); 
    color: white; 
}

section.meme-list {
    display: flex; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    /* margin: 10px;  */
    margin: 4rem; 
}

div.meme {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    /* margin: 10px;  */
    margin: 1rem; 
    position: relative; 
    width: 47%; 
    border-radius: 10px; 
    /*  */
    opacity: 1; 
    transition: .5s ease; 
}

/* 
div.delete {
    visibility: hidden; 
    position: absolute; 
    justify-content: center; 
    width: 100%; 
    height: 100%; 
    transform: translate(-50%, -50%); 
    font-weight: 800; 
    font-size: 5em; 
    text-align: center; 
} 
*/ 

img.meme-img {
    position: relative; 
    margin: 0px; 
    border-radius: 8px; 
    cursor: pointer; 
    overflow: hidden; 
    width: 100%; 
}

div.text-top {
    position: absolute; 
    /* top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0; 
    margin-top: 15px; 
    font-family: Impact,sans-serif;
    font-size: 30px;  
    color: white;   
    text-transform: uppercase; 
    align-items: center; 
    -webkit-text-stroke: 1px #000 
}

div.text-bottom {
    position: absolute; 
    /* bottom: 10%; 
    left: 50%;
    transform: translate(-50%, -50%); */
    bottom: 0; 
    margin-bottom: 15px; 
    font-family: Impact,sans-serif; 
    font-size: 30px;  
    color: white;   
    text-transform: uppercase; 
    -webkit-text-stroke: 1px #000 
}

/* Opacity with image  */
div.meme:hover {
    transition: all .5s ease; 
    opacity: 0.4; 
    cursor: pointer; 
}

div.meme-img:hover div.delete {
    opacity: 0.5; 
    visibility: visible; 
    cursor: pointer; 
}




